DATABASE_URL=neon_db_connection_string
VITE_FRONTEND_URL='http://localhost:5173'
REDIS_HOST=redis_connection_string
REDIS_PORT=15453
REDIS_USERNAME='default'
REDIS_PASSWORD=xxxxxxxxxxxxx
HISTORY_MAX=200
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_MODEL='gemini-2.5-flash'
PORT=4000
NODE_ENV=development